BR2_arm=y
BR2_arm920t=y
BR2_TOOLCHAIN_BUILDROOT_MUSL=y
BR2_KERNEL_HEADERS_CUSTOM_GIT=y
BR2_KERNEL_HEADERS_CUSTOM_REPO_URL="https://gitee.com/hxdyxd/arm-emulator-linux"
BR2_KERNEL_HEADERS_CUSTOM_REPO_VERSION="bf93125a0bae035e8f84ef4e8ea9bc07a489cea6"
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_TARGET_GENERIC_HOSTNAME="armemulator"
BR2_TARGET_GENERIC_ISSUE="Welcome to ARM Emulator"
BR2_TARGET_GENERIC_ROOT_PASSWD="1234"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://gitee.com/hxdyxd/arm-emulator-linux"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="bf93125a0bae035e8f84ef4e8ea9bc07a489cea6"
BR2_LINUX_KERNEL_DEFCONFIG="armemulator"
BR2_LINUX_KERNEL_APPENDED_ZIMAGE=y
BR2_LINUX_KERNEL_DTB_IS_SELF_BUILT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="arm-emulator"
BR2_PACKAGE_MAKE=y
BR2_PACKAGE_SL=y
BR2_PACKAGE_FBGRAB=y
BR2_PACKAGE_PHP=y
BR2_PACKAGE_PHP_SAPI_CLI=y
# BR2_PACKAGE_PHP_EXT_SESSION is not set
BR2_PACKAGE_PHP_EXT_JSON=y
BR2_PACKAGE_PHP_EXT_SOCKETS=y
BR2_PACKAGE_PHP_EXT_PCNTL=y
BR2_PACKAGE_ETHOSLIP_TUN=y
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_NTP=y
BR2_PACKAGE_NTP_NTPDATE=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_SIZE="32M"
# BR2_TARGET_ROOTFS_TAR is not set
