BR2_arm=y
BR2_arm920t=y
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_KERNEL_HEADERS_CUSTOM_GIT=y
BR2_KERNEL_HEADERS_CUSTOM_REPO_URL="https://gitee.com/hxdyxd/arm-emulator-linux.git"
BR2_KERNEL_HEADERS_CUSTOM_REPO_VERSION="eea1e5b1d6d6fbd8193fe50daaf7fc4ffc54fac6"
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_1=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_TARGET_GENERIC_HOSTNAME="armemulator"
BR2_TARGET_GENERIC_ISSUE="Welcome to ARM Emulator"
BR2_PACKAGE_BINUTILS=y
BR2_PACKAGE_BINUTILS_TARGET=y
BR2_PACKAGE_MAKE=y
BR2_PACKAGE_LUA=y
BR2_PACKAGE_ZLIB=y
BR2_TARGET_ROOTFS_CPIO=y
# BR2_TARGET_ROOTFS_TAR is not set
